ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
   
  }
  
  li {
    float: left;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  body{
      background-image: url("prva.jpg");
      background-size: cover;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
  }
  h1,h3{
      color: white;
     margin: 0;
    
  }
  h1{
    font-size: 80px;
    margin-top: 200px;
    margin-left: 150px;
  }
  h3{
    font-size: 45px;
    margin-left: 450px;
  }